<li [ngClass]="{'list-group-item': true,
    'list-group-item-success': post.loveIts > 0,
    'list-group-item-danger': post.loveIts < 0}">
    <h5 class="float-right font-weight-light font-italic">{{ post.created_at | date : "short" }}</h5>
    <h4 [ngStyle]="{color: getColor()}">{{ post.title }}</h4>
    <div>{{ post.content }}</div>
    <button class="btn btn-success" (click)="onLoveIt()">Love It!</button>
    <button style="margin-left: 1em;" class="btn btn-danger" (click)="onDontLoveIt()">Don't love It!</button>
</li>
