<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <app-post-list-item *ngFor="let post of postList" [post]="post"></app-post-list-item>
            </ul>
        </div>
    </div>
</div>